{% comment %}

  This snippet renders the footer at the bottom of each page.

{% endcomment %}
<footer class="footer">
  <div class="container full-width">

    <!-- Footer Links -->
    <div class="footer-links">
        <p>Copyright &copy; 2018 | <a>Terms and Conditions</a> | <a target="_blank" href="/pages/consumer-data-privacy-policy">Privacy Policy</a></p>
    </div>

  </div>
</footer>