@font-face {
  font-family: 'national-regular';
  src: url("national-regular.eot");
  src: url("national-regular.eot") format("embedded-opentype"), url("national-regular.woff") format("woff"), url("national-regular.ttf") format("truetype"), url("national-regular.svg#NationalRegular") format("svg");
}

@font-face {
  font-family: 'national-semibold';
  src: url("national-semibold.otf") format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("Proxima-Nova-Alt-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova Bold';
  font-weight: bold;
  src: url("Proxima-Nova-Alt-Bold.otf") format("opentype");
}

html, body {
  font-family: 'Proxima Nova', sans-serif;
}
