#stockists {
  h3 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 30px;
  }
  h4 {
    font-weight: bold;
  }
  p {
    font-size: 13px;
  }
}

.stockist-address {
  border-top: none;
}