<header id="brand-top" class="brand-wrapper">
    <a href="/"><img src="{{ 'lewis-fredericks-2.png' | asset_url }}"/></a>
</header>
<main>
    <div class="container page-padding"></div>
    <div class="container padded">
        <!--  Message letting people know we couldn't find the page. -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>404 Not Found</h3>
                <p class="lead">
                    The page you're looking for does not exist.
                </p>

                <p class="lead">
                    <a href="{{ shop.url }}">Click here to return to our home page</a>.
                </p>
            </div>
        </div>
    </div>
</main>