<header id="brand-top" class="brand-wrapper">
    <a href="/"><img src="{{ 'lewis-fredericks-2.png' | asset_url }}"/></a>
</header>

<main>
    <div class="container page-padding"></div>
    <div class="container padded">
        {{ page.content }}
    </div>
</main>